*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.a{
    border:2px solid green;
    padding:15px 30px;
    overflow: auto;
}
.a .ex{
    margin-left:-100%;
    border:2px solid green;
    height:400px;
    width:200px;
    float:left;
}
.a .ab{
    margin:0 210px;
    border:2px solid blue;
    height:400px;

    
}
.a .qq{
    margin-left:-200px;
    border:2px solid blue;
    width: 200px;
    height:400px;
    float: left;

}