body{
    font-family: Times;
    text-align: left;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.ex{
    font-weight:bold;

}
h1{
    padding-top:50px;
    color:white;
    background-color:#6699FF;
    text-align:center;
    width: 20%;
    height: 700px;
    float: left;
}
div{
    width:78%;
    float:right;
    padding-top:20px;
}